/core/node_modules
/core/public/hot
/core/public/storage
/core/storage/*.key
/core/storage
/core/storage/framework
/core/storage/debugbar
/core/storage/logs
/core/vendor
/core/.env
/core/.env.backup
/core/.phpunit.result.cache
/core/docker-compose.override.yml
/core/Homestead.json
/core/Homestead.yaml
/core/npm-debug.log
/core/yarn-error.log
/core/.idea
/core/.vscode
/core/*.zip
*.zip
/assets
